@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    z-index: 1051;
}



#app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1; /* This makes the main content area grow and push the footer down */
}





body {
    background-color: gold;
    font-family: Arial, sans-serif;
    background-color: gold; /* Set a neutral background color */
    color: #333;
    margin: 0;
    padding: 0;
    margin-top: 100px;
    width: 100%;
}

header {

    position: fixed;
    top: 0;
    width: 100%;
    transition: height 0.5s ease-out;
    display: flex;
    justify-content: space-between; /* This will place the title and nav at opposite ends */
    align-items: center; /* This will vertically center them */
    background-color: #000000;
    color: #f0f0f0;
    padding: 3px 0;
    padding-left: 20px;
    font-weight: bold;
    height: 100px;
    z-index: 10000000;
    border: 2px solid #000000; /* gold border */
}

.nav-link {
    margin-right: 30px;
    display: inline-block;
    background-color: #000000;
    color: #fdd500;
    padding: 5px 25px;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #fdd500;
    color: #000000;
    font-weight: bold;
}
.main.loading {
    background-color: gray;
}
.nav-link.selected {
    background-color: #fdd500;
    color: #000000;
}

.title h1 {
    text-align: left;
}
#menus h1{
    font-size :40px;
    margin-bottom: 10px; /* Added to make text closer to "MENUS" */
    align-items: center;
}
nav {
    text-align: right;
}

nav a {
    color: #f0f0f0;
    margin: 0 10px;
    text-decoration: none;
    padding-right: 20px;
}

#menuItemForm {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#menuItemForm input,
#menuItemForm button {
    padding: 5px;
}
#menus #text p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
    font-weight: bold;
    text-align: center;
}

#menus {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#menus h1{
    font-size :40px; /* Increased font size for MENUS heading*/
    align-items: center;
    margin-bottom: 10px; /* Added to make text closer to "MENUS" */
}

#menus p{
    width :100%;
    margin:auto;
    font-size :28px;
    line-height: 1.6; /* Added to increase space between lines */
    font-weight: bold; /* Added to make text a bit bolder */
    align-items: center;

}


#text p{
    width :100%;
    margin:auto;
    font-size :28px;
    line-height: 1.6; /* Added to increase space between lines */
    font-weight: bold; /* Added to make text a bit bolder */
    align-items: center;

}

#menuItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2px;
    padding-bottom: 100px;
}
/* Add to your menu.css */
#menuItems.transitioning .menuItem {
    opacity: 0;
    transform: translateY(20px);
}

#menuItems .menuItem {
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1; /* Ensure full opacity by default */
    transform: translateY(0);
}

.menuItem {
    opacity: 1;
    transform: translateY(0);
    padding: 10px;
    width: 700px;
    border: 1px solid #ffc400;
    margin-top: 15px;
    margin-left: 1px;

}

.special {
    background-color: transparent;
    padding: 10px;
    width: calc(40% - 10px);
    border: 1px solid #ffc400;
    margin-top: 15px;
    margin-left: 1px;
}


.special img {
    width: 500px;
    height: 500px;
    object-fit: cover; /* or 'contain' depending on your needs */
    margin-left:100px


}
.menuItem img {
    width: 500px;
    height: 500px;
    object-fit: cover; /* or 'contain' depending on your needs */
    border: 3px solid #000000;
    margin-left:100px
}

.menu-item-name {
    font-size: 20px;
    margin-bottom: 10px;
}

.menu-item-description {
    margin-bottom: 10px;
}

.menu-item-price {
    font-weight: bold;
}

#menus button {

}
.menuItem.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s 0.1s linear, transform 0.5s 0.1s linear;
}

#buttonContainer {
    display: flex;
    justify-content: center; /* This will place the buttons closer to each other */
    gap: 20px; /* This will add some space between the buttons */
    margin-top: 10px;
}

#menuButton,
#specialsButton {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#menuButton:hover,
#specialsButton:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
    transform: scale(1.09);
}

#menuButton.selected,
#specialsButton.selected {
    background-color: black;
    color: white;
    border: 1px solid white;
}





button{
    border:none;
    padding :15px 30px;
    margin :20px;
    cursor:pointer;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

#menuButton {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid black;
}

#specialsButton {
    background-color: #fff;
    color: #000;
    border: 1px solid black;
}

#menuButton.active,
#specialsButton.active {
    background-color: black;
    color: white;
}

h1 {
    color: #ffd700;
    -webkit-text-stroke: 2px black; /* outline effect */
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* shadow for more depth */
    font-weight: bold;
    font-size: 50px; /* adjust size as needed */
    font-family: 'Your Font', sans-serif; /* replace 'Your Font' with the actual font name */
}


.la {
    color: #ffd700;
    -webkit-text-stroke: 2px black;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Your Font', sans-serif; /* replace 'Your Font' with the actual font name */
    display: inline-block;
    position: relative;
    top: -10px; /* Adjust if needed to raise 'LA' higher */
    margin-right: -10px; /* Pulls 'RESERVE' closer to 'LA' */
    margin-top: 20px;
}

.reserve {
    color: #000000;
    -webkit-text-stroke: 2px #ffd700;
    text-shadow: 1px 1px 0 #ffd700, -1px -1px 0 #ffd700, 1px -1px 0 #ffd700, -1px 1px 0 #ffd700, 1px 1px 0 #000;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Your Other Font', sans-serif; /* replace 'Your Other Font' with the actual font name */
    display: inline-block;
    position: relative;
    top: 10px; /* Moves 'RESERVE' down relative to 'LA' */
    left: 20px; /* Moves 'RESERVE' further to the right */
}
h3 {
    color: #000000;

    font-weight: bold;
    font-size: 60px; /* adjust size as needed */
    font-family: 'Lobster', sans-serif;/* replace 'Your Font' with the actual font name */
    margin-bottom: 25px;

}

h2 {
    color: #000000;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    font-size: 33px; /* adjust size as needed */
    font-family: 'Your Font', sans-serif; /* replace 'Your Font' with the actual font name */
    margin-left: 40px;
    text-align: left;
    margin-left: 100px;

}

h4 {
    color: #000000;
    font-weight: lighter;
    font-size: 20px; /* adjust size as needed */
    font-family: Arial, sans-serif; /* replace 'Your Font' with the actual font name */
    margin-left: 100px;

    margin-right: 60px;
    text-align: justify;
}

h5{
    width :100%;
    margin:auto;
    font-size :20px;
    line-height: 1.6; /* Added to increase space between lines */
    font-weight: bold; /* Added to make text a bit bolder */
    align-items: center;
    margin-left: 40px;
    text-align: left;
    margin-left: 100px;

}
.cart-dropdown {
    position: fixed;
    right: 20px;
    top: 60px;
    width: 300px;
    background-color: #fff; /* Ensure background matches theme */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    transform-origin: top right;
    z-index: 10000000000;
    display: flex;
    flex-direction: column;
}

.cart-hidden {
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
}

.cart-visible {
    margin-top: 57px;
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}

.cart-item {

    align-items: center;
    margin-bottom: 10px;
}

.cart-item button {
    background-color: gold;
    border: none;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.cart-item button:hover {
    background-color: darkgoldenrod;
}

.total {
    margin-top: auto; /* Pushes total to the bottom */
    font-size: 1.2em;
    font-weight: bold;
}

.order-button {
    background-color: black;
    color: gold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
    transition: background-color 0.3s;
}

.bb button{
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 100px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.bb button:hover {
    background-color: #ff6a00;
    color: #000000;
    border-radius: 15px;
    margin-left: 100px;
}

.order-button:hover {
    background-color: #ffd700;
    color: #000000;
    border-radius: 5px;
}

h88{
    color: #000000;
margin-left: 40px;
    font-weight: bold;
    font-size: 40px; /* adjust size as needed */
    font-family: 'Lobster', sans-serif;/* replace 'Your Font' with the actual font name */
    margin-bottom: 25px;

}