@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


h8{
    font-size: 60px;
    margin-left: 100px;
}

h77{
    font-size: 55px;

    font-family: 'Lobster', sans-serif;
}