@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



body {

    transition: opacity 0.5s ease-out;
    font-family: Arial, sans-serif;
    background-color: #ffd800; /* Set a neutral background color */
    color: #333;
    margin: 0;
    padding: 0;
    margin-top: 100px;
}

#content {

    transition: opacity 0.5s ease-out;
    /* rest of your styles */
}

header {

    position: fixed;
    top: 0;
    width: 100%;
    transition: height 0.5s ease-out;
    display: flex;
    justify-content: space-between; /* This will place the title and nav at opposite ends */
    align-items: center; /* This will vertically center them */
    background-color: #000000;
    color: #f0f0f0;
    padding: 3px 0;
    padding-left: 20px;
    font-weight: bold;
    height: 100px;
    border: 2px solid #000000; /* gold border */
}

.nav-link {
    margin-right: 30px;
    display: inline-block;
    background-color: #000000;
    color: #fdd500;
    padding: 5px 25px;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #fdd500;
    color: #000000;
    font-weight: bold;
}
.main.loading {
    background-color: gray;
}
.nav-link.selected {
    background-color: #000000;
    color: #ffffff;
}


#contact-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;
    font-size: 25px;

}

#contact-form input, #contact-form textarea {
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #000000;
    margin: 10px 0; /* Add margin to create space between elements */
    background-color: transparent;
    font-weight: bolder
;
}
#contact-form textarea {
    margin-bottom: 10px;
    height: 130px;
    padding: 10px;
    border: 1px solid #000000;
    resize: none; /* Prevent resizing */
    background-color: transparent;
    font-weight: bolder
;
}
#contact-form p {

    font-size: 15px;
    padding-left: -250px;
    font-weight: bold;

;
}


.la {
    color: #ffd700;
    -webkit-text-stroke: 2px black;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Your Font', sans-serif; /* replace 'Your Font' with the actual font name */
    display: inline-block;
    position: relative;
    top: -10px; /* Adjust if needed to raise 'LA' higher */
    margin-right: -10px; /* Pulls 'RESERVE' closer to 'LA' */
    margin-top: 20px;
}

.reserve {
    color: #000000;
    -webkit-text-stroke: 2px #ffd700;
    text-shadow: 1px 1px 0 #ffd700, -1px -1px 0 #ffd700, 1px -1px 0 #ffd700, -1px 1px 0 #ffd700, 1px 1px 0 #000;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Your Other Font', sans-serif; /* replace 'Your Other Font' with the actual font name */
    display: inline-block;
    position: relative;
    top: 10px; /* Moves 'RESERVE' down relative to 'LA' */
    left: 20px; /* Moves 'RESERVE' further to the right */
}


.button-basess {
   /* Slightly bigger for better clickability */
    background-color: #000000; /* A grey that fits the dark theme */
    color: #ffffff;
    border: 4px solid #ffffff; /* solid black border */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Adding transform to transition for a subtle effect */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3); /* Shadow for 3D effect */
}

.button-basess:hover {
    background-color: #ffffff; /* A lighter grey on hover */
    transform: scale(1.05); /* Slight scale to give feedback */
    border-radius: 5px;
    color: gold;

    border-color: white;
    border: 4px solid #ffffff; /* solid black border */

}



